<%= form_tag dictionaries_path, method: :get, remote: true do %>
  <div class="input-append">
      <%= text_field_tag :query, params[:query], placeholder: 'Enter search term...', id: "query", autocomplete: "off", name: "query"%>
    <button type="submit" class="btn search-query">
      <i class="icon-search"></i>
    </button>
  </div>
<% end %>

<a href="#" data-background-color="#990000">Paint it red</a>


<script>
  $("#query").typeahead({
    name: "query",
    remote: "/autocomplete?query=%QUERY"
  });
</script>