<tr>
  <td>
    <dl>
      <dt><%= link_to dictionary.term, dictionary_path(dictionary)%> <%= link_to edit_dictionary_path(dictionary) do %> <i class="fa fa-pencil fa-fw"></i> <% end %></dt>
      <dd><%= dictionary.definition %></dd>
    </dl>
  </td>
  <td class='actions'>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")), dictionary_path(dictionary), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger' %>
  </td>
</tr>