<%- model_class = Dictionary -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<%= render :partial => 'shared/search_form' %>
<%= will_paginate @dictionaries %>
<%- model_class = Dictionary -%>
<div id="dictionaries">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:term) %> & <%= model_class.human_attribute_name(:definition) %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
       <%= render @dictionaries %>
      </tr>
    </tbody>
  </table>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
new_dictionary_path,
:class => 'btn btn-primary' %>